<a href="https://colab.research.google.com/github/Divine193/access6.0projects/blob/master/WEEK2/week2sess4/Data_Cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
data_clean = pd.read_csv('/content/drive/MyDrive/Warehouse_and_Retail_Sales.csv')

In [ ]:
data_clean.head()

,YEAR,MONTH,SUPPLIER,ITEM CODE,ITEM DESCRIPTION,ITEM TYPE,RETAIL SALES,RETAIL TRANSFERS,WAREHOUSE SALES
0,2020,1,REPUBLIC NATIONAL DISTRIBUTING CO,100009,BOOTLEG RED - 750ML,WINE,0.00,0.0,2.0
1,2020,1,PWSWN INC,100024,MOMENT DE PLAISIR - 750ML,WINE,0.00,1.0,4.0
2,2020,1,RELIABLE CHURCHILL LLLP,1001,S SMITH ORGANIC PEAR CIDER - 18.7OZ,BEER,0.00,0.0,1.0
3,2020,1,LANTERNA DISTRIBUTORS INC,100145,SCHLINK HAUS KABINETT - 750ML,WINE,0.00,0.0,1.0
4,2020,1,DIONYSOS IMPORTS INC,100293,SANTORINI GAVALA WHITE - 750ML,WINE,0.82,0.0,0.0

In [ ]:
data_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307645 entries, 0 to 307644
Data columns (total 9 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   YEAR              307645 non-null  int64
 1   MONTH             307645 non-null  int64
 2   SUPPLIER          307478 non-null  object
 3   ITEM CODE         307645 non-null  object
 4   ITEM DESCRIPTION  307645 non-null  object
 5   ITEM TYPE         307644 non-null  object
 6   RETAIL SALES      307642 non-null  float64
 7   RETAIL TRANSFERS  307645 non-null  float64
 8   WAREHOUSE SALES   307645 non-null  float64
dtypes: float64(3), int64(2), object(4)
memory usage: 21.1+ MB

#DATA CLEANING

In [ ]:
# Missing values per column
data_clean.isna().sum()

YEAR                  0
MONTH                 0
SUPPLIER            167
ITEM CODE             0
ITEM DESCRIPTION      0
ITEM TYPE             1
RETAIL SALES          3
RETAIL TRANSFERS      0
WAREHOUSE SALES       0
dtype: int64

###HANDLING MISSING VALUES

In [17]:
# FILLING THE MISSING ROW UNDER ITEM TYPE WITH WINE
data_clean['ITEM TYPE'] = data_clean['ITEM TYPE'].fillna('WINE')

In [25]:
data_clean['RETAIL SALES'] = data_clean['RETAIL SALES'].fillna(data_clean['RETAIL SALES'].mode()[0])

In [26]:
# FILL MISSING VALUES UNDER THE COLUMN 'SUPPLIER'
data_clean['SUPPLIER'] = data_clean['SUPPLIER'].fillna('UNKNOWN')
# CHECK IF THERE ARE STILL MISSING VALUES
data_clean.isna().sum()

YEAR                0
MONTH               0
SUPPLIER            0
ITEM CODE           0
ITEM DESCRIPTION    0
ITEM TYPE           0
RETAIL SALES        0
RETAIL TRANSFERS    0
WAREHOUSE SALES     0
dtype: int64

In [ ]:
data_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 307642 entries, 0 to 307644
Data columns (total 9 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   YEAR              307642 non-null  int64
 1   MONTH             307642 non-null  int64
 2   SUPPLIER          307642 non-null  object
 3   ITEM CODE         307642 non-null  object
 4   ITEM DESCRIPTION  307642 non-null  object
 5   ITEM TYPE         307642 non-null  object
 6   RETAIL SALES      307642 non-null  float64
 7   RETAIL TRANSFERS  307642 non-null  float64
 8   WAREHOUSE SALES   307642 non-null  float64
dtypes: float64(3), int64(2), object(4)
memory usage: 23.5+ MB

### CHECK FOR DUPLICATES

In [ ]:
# CHECK FOR DUPLICATES
data_clean.duplicated().sum()

np.int64(0)

###FEATURE ENGINEERING

In [ ]:
# CREATE A NEW COLUMN 'DATE' AND MAKE IT A DATETIME DATATYPE
data_clean['DATE'] = data_clean['YEAR'].astype(str) + '-' + data_clean['MONTH'].astype(str)
data_clean['DATE'] = pd.to_datetime(data_clean['DATE'])
data_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 307642 entries, 0 to 307644
Data columns (total 10 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   YEAR              307642 non-null  int64
 1   MONTH             307642 non-null  int64
 2   SUPPLIER          307642 non-null  object
 3   ITEM CODE         307642 non-null  object
 4   ITEM DESCRIPTION  307642 non-null  object
 5   ITEM TYPE         307642 non-null  object
 6   RETAIL SALES      307642 non-null  float64
 7   RETAIL TRANSFERS  307642 non-null  float64
 8   WAREHOUSE SALES   307642 non-null  float64
 9   DATE              307642 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(3), int64(2), object(4)
memory usage: 33.9+ MB

In [ ]:
# CREATE TOTAL SALES COLUMN TO SEE TOTAL SALES FROM EACH TRANSACTIONS
data_clean['TOTAL SALES'] = data_clean['RETAIL SALES'] + data_clean['WAREHOUSE SALES']
data_clean.head()

,YEAR,MONTH,SUPPLIER,ITEM CODE,ITEM DESCRIPTION,ITEM TYPE,RETAIL SALES,RETAIL TRANSFERS,WAREHOUSE SALES,DATE,TOTAL SALES
0,2020,1,REPUBLIC NATIONAL DISTRIBUTING CO,100009,BOOTLEG RED - 750ML,WINE,0.00,0.0,2.0,2020-01-01,2.00
1,2020,1,PWSWN INC,100024,MOMENT DE PLAISIR - 750ML,WINE,0.00,1.0,4.0,2020-01-01,4.00
2,2020,1,RELIABLE CHURCHILL LLLP,1001,S SMITH ORGANIC PEAR CIDER - 18.7OZ,BEER,0.00,0.0,1.0,2020-01-01,1.00
3,2020,1,LANTERNA DISTRIBUTORS INC,100145,SCHLINK HAUS KABINETT - 750ML,WINE,0.00,0.0,1.0,2020-01-01,1.00
4,2020,1,DIONYSOS IMPORTS INC,100293,SANTORINI GAVALA WHITE - 750ML,WINE,0.82,0.0,0.0,2020-01-01,0.82

In [ ]:
# SAVE TO A CSV FILE
data_clean.to_csv('Cleaned_Sales_Data.csv', index=False)